//Breakpoint
$mobile-small: em(480);
$mobile-medium: em(481);
$tablet-small: em(601);
$tablet-medium: em(768);
$desktop-small: em(1024);
$desktop-medium: em(1260);

$maincolor: #46db77;
$altcolor: #ffeb64;
$altcolor2: #00e6dc;
$textcolor: #303030;