$maincolor: #490d2c;
$altcolor: #eee;
$textcolor: #333;

$customfont-1: "Neuzeit Grotesk", sans-serif;

//Breakpoint
$mobile-small: em(480);
$mobile-medium: em(481);
$tablet-small: em(601);
$tablet-medium: em(768);
$desktop-small: em(1024);
$desktop-medium: em(1260);

