/* Slider
----------------------------------------------------------------------------------------------------*/
.tp-bgimg {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
    }
}
.rev_slider .tp-mask-wrap .tp-caption {
    font-family: $customfont-1 !important;
}
.baroque-bullets-light {
    &.tp-bullets {
        .tp-bullet {
            width: 4px;
            height: 30px;
            border-radius: 0;
            &:before {
                width: 8px;
                height: 34px;
                background: none;
                border-radius: 0;
                border: 2px solid #fff;
            }
            &.selected,
            &:hover {
                background: none;
            }
        }
    }
}

.baroque-tabs {
    display: none;
    .tp-tab-number {
        line-height: 26px;
        font-size: 18px;
    }
    .tp-tab-title {
        line-height: 22px;
        font-weight: 700;
        font-size: 18px;
    }
}