/* WP Bakery / Visual Composer
----------------------------------------------------------------------------------------------------*/
.btn-primary {
    text-transform: none;
    font-weight: 300;
}
.ba-button {
    &.classic {
        a {
            height: 46px;
            padding: 0 20px;
            line-height: 46px;
            transition: all .3s ease-in-out;
            i {
                margin-left: 5px;
                font-size: 16px;
            }
            @include hover {
                background: $maincolor;
            }
        }
    }
}

.wpb_text_column {
    p {
        line-height: 23px;
        font-size: 18px;
    }
}