/* Homepage
----------------------------------------------------------------------------------------------------*/
.custom-background {
    background-image: url("#{$images-url}/perspective.png");
    background-repeat: no-repeat;
    background-position: 150% top;
    background-size: 928px 538px;
}